.Sidebars {
    display: flex;
    background: radial-gradient(ellipse at bottom, #b4b8b8 0%,#0c0c0c 100%);
}

.sidebar{
    background-color:rgb(0, 0, 0);
    color: white;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    border-right: 0.2vw solid #808283;
}

@media screen and (max-width: 1000px) {
  
    

}

.mains{
   height: auto;
   width: 100% !important;
   padding-bottom: auto;
}

.logo{
    font-size: 2.2vw;
    line-height: 0;
    padding-bottom: 0.5vw;
}

.logo2{
    font-size: 2.2vw;
    line-height: 0;
    padding-bottom: 0.5vw;
    margin-right: 1.2vw;
}

.link{
    font-size: 1.2vw ;
    display: flex;
    color: aliceblue;
    gap: 1.1vw;
    border: none;
    padding: 1vw 1vw;
}

.active{
    border-right: 4px solid white;
    background-color: rgb(223, 233, 235);
}

.fullink{
    font-size: 1.2vw ;
    display: flex;
    color: aliceblue;
    gap: 1.1vw;
    border: none;
    padding: 1vw 1vw;
}


.link:hover{
    color: rgb(7, 7, 7) ;
    border-right: 6px solid rgb(255, 4, 4) ;
    background-color: rgb(176, 229, 240) ;
}



.linktext{
    align-items: center;
    font-weight: bolder;
}




a{
    display: flex;
    text-decoration: none;
}

a:hover{
    border: none;
    text-decoration: none;
    background: none;
    color: #0c0c0c;
}

.fullink:hover{
    color: rgb(7, 7, 7);
    border-right: 6px solid rgb(255, 4, 4);
    background-color: rgb(176, 229, 240);
}

.active{
    border-right: 4px solid white;
    background-color: rgb(223, 233, 235);
}

.link2text{
    
    color: aliceblue;
    align-items: center;
    font-weight: bolder;
}

.link2text:hover  {
    color: #0c0c0c ;
}

/*Below CSS is not in use*/

.floatsmleft{
    position: fixed;
    margin-left: 0.5rem;    
    margin-top: 10rem;
    z-index: 99999;
}

.socials{
    color: rgb(248, 245, 245);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 25px;
}

.spann{
    color: aliceblue;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}